---

{%- raw %}

# converts kW to kWh for the following solar/grid import/export sensors
# https://www.home-assistant.io/integrations/integration/
-
  platform: integration
  name: Grid Power Import
  unique_id: grid_power_import_kwh
  source: sensor.grid_power_consumption
  method: left
  unit_prefix: k
  unit_time: h
-
  platform: integration
  name: Grid Power Export
  unique_id: grid_power_export_kwh
  source: sensor.grid_power_export
  method: left
  unit_prefix: k
  unit_time: h
-
  platform: integration
  name: Solar Self Consumption
  unique_id: solar_self_consumption_kwh
  source: sensor.solar_self_consumption
  method: left
  unit_prefix: k
  unit_time: h
-
  platform: integration
  name: Battery Discharge Self Consumption kWh
  unique_id: battery_discharge_self_consumption_kwh
  source: sensor.battery_discharge_self_consumption
  method: left
  unit_prefix: k
  unit_time: h

{%- endraw %}
